* {
  padding: 0;
  margin: 0;
}
body {
  background-color: aliceblue;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "header header header aside aside"
    "header header header aside aside"
    "nav nav content content content"
    "nav nav footer footer footer";
  width: 50%;
  margin: auto;
}
main div {
  padding: 2em;
}

.item1 {
  background-color: orangered;
  grid-area: header;
}
.item2 {
  background-color: yellow;
  grid-area: aside;
}
.item3 {
  background-color: green;
  grid-area: nav;
}
.item4 {
  background-color: turquoise;
  grid-area: content;
}
.item5 {
  background-color: turquoise;
  grid-area: footer;
}
